* {
  padding: 0%;
  margin: 0%;
  font-family: "Belleza", sans-serif;
}

/* HEADER */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  text-decoration: underline;
  padding: 1vh 4vw;
  font-family: "Belleza", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(15px + 1vh);
  color: #000080;
}

#heading-topic {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#heading-logo {
  position: relative;
  padding-right: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header-hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 0.25vh solid #000080;
}

.header-mainDiv {
  overflow: hidden;
  white-space: nowrap;
}

.header-images {
  display: inline-block;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
  overflow: hidden;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header-images2 {
  display: inline-block;
  -webkit-animation: slide2 20s linear infinite;
          animation: slide2 20s linear infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  overflow: hidden;
}

@-webkit-keyframes slide2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes slide2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.header-images img,
.header-images2 img {
  padding: 1vh 2vw;
  height: "15vh";
  width: "10vw";
}

/* MAIN */
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 61vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button1,
.button2,
.button2-link,
.button1-link {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  border: none;
  color: #ff0000;
  font-family: "Belleza", sans-serif;
  font-size: calc(15px + 0.75vw);
}

.button1 {
  margin-left: -13vw;
  padding-right: 13vw;
}

.button2 {
  margin-right: -13vw;
}

/* HomePage */
.homepage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 35vh;
  position: relative;
  top: 3vh;
  left: 2vw;
  background-color: #ff0000;
  -webkit-box-shadow: -3vw -5vh #000080, 0 1px 0 #ff0000, 0 2px 0 #ff0000, 0 3px 0 #ff0000, 0 4px 0 #ff0000, 0 5px 0 #ff0000, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: -3vw -5vh #000080, 0 1px 0 #ff0000, 0 2px 0 #ff0000, 0 3px 0 #ff0000, 0 4px 0 #ff0000, 0 5px 0 #ff0000, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.homepage-container h1 {
  font-family: "Belleza", sans-serif;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: calc(15px + 6vw);
  text-align: center;
}

/* login */
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 61vh;
  width: 100vw;
}

.login-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  height: 45vh;
  position: relative;
  top: 2vh;
  background-color: #000080;
  border-radius: 7px;
}

.login-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-heading h1 {
  font-family: "Belleza", sans-serif;
  display: block;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: #ff0000;
  padding-top: 2vh;
  font-size: calc(18px + 1.9vw);
  /* text-align: center;
    align-items: center; */
}

.login-heading img {
  display: block;
  width: calc(18px + 1.9vw);
  /* text-align: center;
    align-items: center; */
}

.login-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 60%;
      -ms-flex: 60% 60%;
          flex: 60% 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form p {
  color: #ff0000;
  font-size: 1.75vw;
  padding-top: 3vh;
}

.login-form p input {
  width: 70%;
  height: 1.5em;
}

.login-form button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  padding: 4vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin-top: 4.5vh;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* products */
.main-wrapper2 {
  height: 61vh;
  width: 100vw;
}

.main-products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 30vh;
  position: relative;
  top: -5vh;
  background-color: #000080;
  border-radius: 7px;
}

.products-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-heading h1 {
  font-family: "Belleza", sans-serif;
  display: block;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: #ff0000;
  font-size: calc(18px + 1.9vw);
  /* text-align: center;
    align-items: center; */
}

.products-form p {
  position: relative;
  top: -1vh;
  color: #ff0000;
  font-size: 1.75vw;
  padding-top: 1.5vh;
}

.products-form p input {
  width: 70%;
  height: 1.5em;
}

.products-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products-buttons-out {
  position: relative;
  top: -7vh;
}

.product-navigator {
  position: fixed;
  top: 86vh;
}

.products-buttons button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  text-align: center;
  font-size: calc(14px + 0.75vh);
  padding: 1.75vh 3.5vw;
  text-decoration: none;
  display: inline-block;
  margin-top: 2vh;
  cursor: pointer;
  position: relative;
  border-radius: 1vh;
}

.products-buttons-out .products-buttons button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  padding: 4vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin-top: 4.5vh;
  border-radius: 50%;
  cursor: pointer;
}

/* Add Products */
.add-products-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  height: 45vh;
  position: relative;
  top: -5vh;
  background-color: #000080;
  border-radius: 7px;
}

.add-products-form p {
  color: #ff0000;
  font-size: 1.75vw;
  padding-top: 2.25vh;
}

.add-products-form p input {
  width: 65%;
  height: 1.5em;
}

.add-products-form button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  padding: 3vh 4vw;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  top: 75vh;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.add-products-button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  font-size: 1.75vw;
  color: #000080;
  padding: 3vh 4vw !important;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: -2vh !important;
  border-radius: 20px !important;
  cursor: pointer;
}

.main-cashier-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cashier-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 8vh;
  position: relative;
  background-color: #000080;
  border-radius: 7px;
}

.cashier-form p {
  font-size: 3.75vh;
  margin-top: 1vh;
}

.cashier-form input {
  width: 70% !important;
  position: relative;
  top: -0.5vh;
}

#cashier button {
  background-color: #000080;
  text-decoration: none;
  border: none;
  color: #ff0000;
  border-radius: 15%;
  font-family: "Belleza", sans-serif;
  font-size: calc(15px + 0.75vw);
  margin-left: 4vw;
}

#cashier button img {
  position: relative;
  top: 0.75vh;
  margin-top: 0vh;
}

.main-wrapper2 p {
  color: #ff0000;
  font-size: 1.75vw;
}

.login-selection-img {
  padding-top: 3vh;
}

.login-selection-p-1 {
  margin-top: -3vh !important;
  font-size: 2.25vw !important;
}

.login-selection-p {
  margin-top: -1vh !important;
  padding: 0vh !important;
  font-size: 2.25vw !important;
}

.login-form .login-selection-div {
  margin-left: 40vh;
}

.login-selection-span {
  content: "\2022";
  font-size: calc(30px + 5vh);
  color: #e7886a;
  position: relative;
  top: 1vh;
}

.main-billing-recipt-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2.5vh !important;
}

.billing-recipt-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 8vh;
  position: relative;
  background-color: #e7886a;
  border-radius: 7px;
}

#billing-recipt button {
  background-color: #e7886a;
  text-decoration: none;
  border: none;
  color: #ff0000;
  border-radius: 15%;
  margin-top: -1vh;
  font-family: "Belleza", sans-serif;
  font-size: calc(15px + 0.75vw);
  margin-left: 4vw;
}

#billing-recipt button img {
  position: relative;
  top: 0.75vh;
}

.billing-recipt-form p {
  font-size: 3.75vh;
  margin-top: 1vh;
}

.billing-recipt-form input {
  width: 25% !important;
  position: relative;
  top: -0.5vh;
}

.login-form .management-div {
  margin-left: 35vh;
}

.view-products-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  height: 45vh;
  position: relative;
  top: -5vh;
  background-color: #000080;
  border-radius: 7px;
}

.view-products-form p {
  color: #ff0000;
  font-size: 1.75vw;
  padding-top: 3.75vh;
}

.view-products-form p input {
  width: 65%;
  height: 1.5em;
}

.view-products-form button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  padding: 3vh 4vw;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 4vh;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.view-employee-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  height: 50vh;
  position: relative;
  background-color: #000080;
  border-radius: 7px;
}

.view-employee-form p {
  color: #ff0000;
  font-size: 1.75vw;
  padding-top: 3.25vh;
}

.view-employee-form p input {
  width: 65%;
  height: 1.5em;
}

.view-employee-form button {
  font-family: "Belleza", sans-serif;
  background-color: #e7886a;
  border: none;
  color: #000080;
  padding: 3vh 4vw;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 4vh;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* FOOTER */
footer p {
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: calc(18px + 0.75vh);
  letter-spacing: 1px;
}

/* Miss */
.special button {
  top: 77vh;
}

.add-employee-container {
  top: -3vh;
}

.special-employee {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 76vh;
}

.mystyle {
  visibility: hidden;
  position: fixed;
}

td, th {
  border: 3px solid black;
  padding: 5px 20px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: black;
  color: red;
}
/*# sourceMappingURL=App.css.map */